*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:90%;
    max-width:900px;
}

.room-header{
    background:#1e293b;
    padding:20px;
    border-radius:20px;
    text-align:center;
    margin-bottom:30px;
}

.room-header h1{
    font-size:40px;
}

.players-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
    gap:20px;
}

.player-card{
    background:#1e293b;
    padding:25px;
    border-radius:18px;
    text-align:center;
    font-size:22px;
    font-weight:bold;

    transition:0.2s;
}

.player-card:hover{
    transform:scale(1.03);
}